:root {
  --background-color: #212132;
  --text-color: rgba(255, 255, 255, 0.7);
  --text-color-hero-heading: #ffffff;
  --heading-color: #212132;
  --second-text-color: #4a4a4a;
  --button-active-color: #eaca29;
}
